{% extends "common.html" %} {% block content %}
<h1>Call Request</h1>
<form id="call-request-form" method="post" action="/call_request">
    <label for="phone"> Enter your phone number: </label>
    <input type="tel" id="phone" name="phone_number" required />
    <br />
    <label for="name"> Enter your name: </label>
    <input type="text" id="name" name="contact_name" required />
    <br />
    <input type="submit" />
</form>
{% endblock %} {% block messages %} {% if messages.len() > 0 %}
<h2>Messages</h2>
<ul>
    {% for message in messages %}
    <li>{{message.level()}}: {{message.content()}}</li>
    {% endfor %}
</ul>
{% endif %} {% endblock %}
